<header id = "navbar-content">
    <nav id="navbar-container" class="navbar navbar-expand-md">
        <div class="container">
            <a class="logo" href="/"><%=title%></a>

            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse show" id="navbarNavDropdown" style="">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resources</a>
                    </li>
                </ul>
                <div class="login">
                    <p class="login-text">Already have an account?</p>
                    <button id = "login-btn" class="page-btn"><a class="button-link" href="/login">Log in</a></button>
                </div>
            </div>
        </div>
    </nav>
</header>