
  <body class="body">

    <main class="main">
    <div class="container main-content text-center">

      <div class="row">
        <div class="col-lg-12">
          <h1 class="main-quote">Make presenting Fun, Easy and Interactive with <%=title%>!</h1>
          <h3 class="description">Create meetings and engage with your audience effortlessly</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h5 class="sign-up-text">Want to get started presenting?</h5>
          <button id = "signup-btn" class="page-btn"><a class="button-link" href="/signup">Sign up for Free</a></button>
        </div>
        <div class="col-lg-6">
          <form >

          </form>
          <form id = "enterMeeting" method="POST" action="/meeting/redirect">
            <h5 class="code-text">Want to join as a participant?</h5>

            <input class="page-input" id="inputCode" name="code" placeholder="Enter room code" autocomplete = "off">
            <% if (message_error!== []) { %>
              <div class="flash error"><%= message_error %></div>
            <% } %>
          </form>
        </div>
      </div>
    </div>

    </main>
  </body>
