.main-signup{
    background-image: linear-gradient(50deg, #DE9E37 25%, transparent 25%),
    linear-gradient(200deg, #DE9E37 25%, transparent 25%);
}

.container{
    margin-top: 25vh;
}

.container-content form{
    margin: 20px;
}

#form1 label, #form1 input{
    margin: 15px;
}

.login-text{
    margin: 0;
}