<body class="body" id ="page-content">
<main>
    <div class="container content-border">
        <form class="form-edit" method="POST" action="/administrator/users/add" autocomplete = "off">
            <h2 class="edit-title">Add user:</h2>
            <label for="inputName">Name:</label><br>
            <input class="edit-input" type="text" name="username" id="inputName" placeholder="Name"><br>
            <label for="inputEmail">E-mail address:</label><br>
            <input class="edit-input" type="email" name="email" id="inputEmail"  placeholder="Email address"><br>

            <button type="submit" class="admin-btn">Save</button>

        </form>
    </div>
</main>
</body>