<body class="body" id ="page-content">
<main>
    <div class="container content-border">
        <form class="form-edit" method="POST" action="/administrator/words/add" autocomplete = "off">
            <h2 class="edit-title">Add word:</h2>
            <label for="inputWord">Forbidden word:</label><br>
            <input class="edit-input" type="text" name="word" id="inputWord" placeholder="Word"><br>
            <button type="submit" class="admin-btn">Save</button>

        </form>
    </div>
</main>
</body>
