<body class="body" id ="page-content">
<main>
    <div class="container content-border">
        <form id = "addMeeting" class="form-edit" method="POST" action="/presenter/meetings/<%=id%>/send-mail" autocomplete = "off">
            <h2 class="edit-title">Invite participants to your meeting</h2>
            <label for="inputName">Participant e-mail:</label><br>
            <input class="edit-input" type="email" name="email" id="inputemail" placeholder="Name">

            <button type="submit" class="admin-btn">Invite</button>
        </form>
    </div>
    <script >

    </script>
</main>

</body>
